<%- include('../partials/header') %>
  <table id="list" class="cards">
    <thead>
      <tr>
        <th>Front</th>
        <th>Back</th>
        <th>Deck</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% decks.forEach((d) => { %>
        <% d.cards.forEach((c) => { %>  
          <tr>
            <td><%= c.front %></td>
            <td><%= c.back %></td>
            <td><%= d.name %></td>
            <td>
              <% if (user?._id.equals(c.user)) { %>
                <a href="/cards/<%= c._id %>/edit?deck=<%= d._id %>"><img id="setting-img" src="/images/setting.png"></a>
              <% } %>
            </td>
          </tr>
        <% }) %>
      <% }) %>
    </tbody>
  </table>

  <%- include('../partials/footer') %>