<%- include('../partials/header') %>
    <div id="list">
        <form id="add-new-card" action="/cards" method="POST">
            <label>Front:</label>
            <textarea type="text" name="front" required></textarea>
            <label>Back:</label>
            <textarea type="text" name="back" required></textarea>
            <label>Deck:</label>
            <select name="deck" required>
                <% decks.forEach((d) => { %>  
                    <option value="<%= d._id %>"><%= d.name%></option>
                <% }) %>
                <option value="" disabled selected>Select a Deck</option>
            </select>
            <button type="submit">Add Card</button>
        </form>
    </div>
    <p><%= msg %></p>
<%- include('../partials/footer') %>