<%- include('../partials/header') %>
<div id="list" class="card">
    <% deck.cards.forEach((c, index) => { %>  
        <div class="card-item" id="card<%= index %>">
            <p class="front"><%= index+1 %>. <%= c.front %></p>
            <p class="back hidden filp"><%= c.back %></p>
            <div class="card-button">
                <button class="show-answer" onclick="showAnswer()">Show Answer</button>
                <button class="hidden filp" onclick="setNextCard()">Next</button>
                <%  if (user) { %>  
                    <input type="hidden" name="userId" value="<%= user._id %>">
                    <input type="hidden" name="card<%= index %>Id" value="<%= c._id %>">
                <% } %>  
            </div>
        </div>
    <% }) %>
</div>

<%- include('../partials/footer') %>